# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Node.js (por si añades después)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos
.env
.env.local
.env.*.local